
div{
  position: absolute;
  border: 2px rgb(15, 48, 141) solid;
}

.bloque1{
  background-color: rgb(201, 201, 235);
  width: 380px;
  height: 113px;
  top: 95px;
  left: 56px;
  z-index: 800;
}

.bloque2{
  background-color: aquamarine;
  width: 320px;
  height: 550px;
  top: 50px;
  left: 85px;
  z-index: 400;
}

.bloque3{
  background-color: rgb(255, 242, 127);
  width: 430px;
  height: 200px;
  top: 500px;
  left: 12px;
  z-index: 200;

}

.hijo1{
background-color: rgb(255, 158, 207);
width: 195px;
height: 113px;
top: 425px;
left: 110px;
}

.hijo2{
  background-color: rgb(255, 224, 255);
  width: 150px;
  height: 500px;
  top: 25px;
  left: 140px;
}

.hijo3{
  background-color: rgb(64, 75, 230);
  width: 290px;
  height: 150px;
  top: 50px;
  left: 15px;
}